# Artists Land Ignores
Assets/Materials
Assets/Materials.*
Assets/Models
Assets/Models.*
Assets/BoneVis.*
Assets/GoblinTest*
Assets/PoseManager
Assets/PoseManager.*
Assets/SampleScenes
Assets/SampleScenes.*
Assets/ootii
Assets/ootii.meta
Assets/Plugins/Editor.meta
Assets/Plugins/Editor/RootMotion
Assets/Plugins/Editor/RootMotion.meta
Assets/Plugins/RootMotion
Assets/Plugins/RootMotion.meta
Assets/CharacterControls.cs
Assets/CharacterControls.cs.meta
Assets/MouseDrag.cs
Assets/MouseDrag.cs.meta
Assets/Standard Assets
Assets/Standard Assets.meta
Assets/Tests
Assets/Tests.meta

# IDE Ignores
Assets/Plugins/JetBrains
Assets/Plugins/JetBrains.meta
Assets/Plugins/JetBrains/Editor
Assets/Plugins/JetBrains/Editor.meta
.idea
.vscode

# Keeping Repository Clean
Assets/Scenes
Assets/Scenes.*
Temp

# SceneTrack Folders
Assets/SceneTrackCache
Assets/SceneTrackCache.*

# SceneTrack Files
*.st
scenetrack.log
scenetrackfbx.log
scenetrackmidi.log
scenetrackvideo.log
midi.txt


# Unity Ignores
Library/
ProjectSettings
UnityPackageManager


# Unity Files
*.csproj
*.sln
*.userprefs

# Platform Files
.DS_Store